@font-face {
  font-family: "Satoshi-Variable";
  src: url("../../font/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(31, 31, 31);
  outline: 1px solid rgba(112, 128, 144, 0.534);
}

:root {
  --fs-xl: clamp(8rem, 12vw + 1rem, 23rem);
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: #141414;
  color: hsl(0deg, 0%, 100%);
  font-family: "Satoshi-Variable";
  position: relative;
  height: 100vh;
}

h1 {
  font-family: "Satoshi-Variable";
  font-weight: 400;
  font-size: var(--fs-xl);
}

h2 {
  font-size: clamp(3.6rem, 6vh + 1rem, 7.2rem);
  line-height: 110%;
}

h3 {
  font-family: "Satoshi Variable";
  font-style: normal;
  font-weight: 300;
  font-size: 4.7rem;
  line-height: 47px;
  margin: 1rem 0;
  background: linear-gradient(103.97deg, rgba(241, 234, 233, 0.69) 0.98%, rgba(241, 234, 233, 0) 106.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -text-fill-color: transparent;
}

h4 {
  font-size: 3.6rem;
}

h5 {
  font-family: "Satoshi Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  text-transform: capitalize;
}

p {
  font-family: "Satoshi Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: hsl(218deg, 12%, 87%);
}

span {
  font-weight: 500;
  color: hsl(0deg, 0%, 100%);
}

a {
  position: relative;
  overflow: hidden;
  z-index: 12;
  filter: brightness(100%);
  transform: scale(1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  transform: scale(0.98);
  filter: brightness(90%);
}

.link-btn {
  color: #fff;
  position: relative;
  text-decoration: underline;
}

.menu {
  position: fixed;
  right: 10vw;
  bottom: 4vw;
  border: none;
  font-size: 1.6rem;
  padding: 1rem;
  width: 60px;
  height: 60px;
  z-index: 1000;
  background-color: #DADDE2;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;
  transform: translate(0px);
}

.menu:hover {
  background-color: #fff;
  transform: scale(1.1);
  color: black;
}

.menu-pressed {
  background-color: transparent;
  color: white;
}

.menu-wrapper {
  opacity: 0;
  transform: translateY(5px);
  position: fixed;
  right: 10vw;
  bottom: 12vh;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  padding: 28px 24px;
  background: linear-gradient(144.72deg, rgba(0, 0, 0, 0) 1.25%, #000000 60%);
  border: 0.3px solid rgba(98, 98, 98, 0.3882352941);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}
.menu-wrapper span {
  font-family: "Satoshi Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 3.6rem;
  color: #F1EAE9;
  text-transform: capitalize;
}
.menu-wrapper li {
  list-style: none;
}
.menu-wrapper li a {
  font-size: 2.1rem;
  color: rgba(189, 238, 221, 0.95);
  text-transform: capitalize;
  font-weight: 300;
  line-height: 120%;
}

.clicked {
  background-color: transparent;
  border: 0.3px solid rgba(98, 98, 98, 0.3882352941);
  color: #F1EAE9;
}

.show {
  opacity: 1;
  transform: translateY(0px);
}

body {
  background-color: #141414;
  color: #fff;
}

.fade-left {
  opacity: 0;
  transform: translateX(-10%);
  transition: all 1s cubic-bezier(0, 0.54, 0.32, 1.01);
}

.fade-right {
  opacity: 0;
  transform: translateX(10%);
  transition: all 1s cubic-bezier(0, 0.54, 0.32, 1.01);
}

.active {
  opacity: 1;
  transform: translateX(0%);
}

.flex-col {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.more-projects {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.more-projects a {
  font-size: 2.1rem;
}

.blobs {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  filter: blur(240px);
  mix-blend-mode: normal;
}

.blobs-1 {
  top: 0px;
  left: -200px;
  width: 600px;
}

.blobs-2 {
  top: 1200px;
  right: 400px;
  width: 500px;
}

.blobs-3 {
  top: 2400px;
  left: 100px;
  width: 500px;
}

.blobs-4 {
  top: 3200px;
  right: 400px;
  width: 500px;
}

.blobs-5 {
  top: 4400px;
  left: 400px;
  width: 500px;
}

.lines {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.star-bg {
  position: absolute;
  z-index: 1;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 96%;
  margin: 0 auto;
  position: relative;
  padding: 4rem 0rem;
  opacity: 1;
}
.heading h1 {
  text-transform: uppercase;
  line-height: 100%;
}
.heading .orbit {
  position: absolute;
  top: -120px;
  right: -450px;
  z-index: 2;
}

main {
  width: 92%;
  margin: 5rem auto;
}
main .elements {
  opacity: 1;
}
main .intro {
  display: grid;
  grid-template-rows: 1fr;
  gap: 4rem 0px;
}
main .intro p {
  margin-bottom: 2rem;
}
main .intro .intro-text {
  flex-grow: 1;
}
main .intro .connect {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 3rem;
}
main .intro .socials {
  justify-content: space-between;
}
main .intro .socials .social-icon {
  width: 24px;
  opacity: 1;
  cursor: pointer;
}
main .gap {
  height: 12rem;
}
main .work {
  position: relative;
}
main .work .art-1 {
  display: none;
  width: 100%;
  -webkit-animation: rotating 50s linear infinite;
  animation: rotating 50s linear infinite;
}
main .work .art-2 {
  display: none;
  width: 100%;
  -webkit-animation: rotating 50s linear infinite;
  animation: rotating 50s linear infinite;
}
main .work .work__intro {
  display: grid;
  grid-template-rows: 1fr;
  gap: 3rem 0px;
}
main .work .work__intro .work__intro_title {
  width: 100%;
  flex-grow: 1;
}
main .work .work__intro .work__intro__text p {
  margin-bottom: 2rem;
}
main .work .project_right {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2rem 0px;
  grid-auto-flow: row;
  margin-bottom: 5rem;
}
main .work .project_description {
  padding: 1rem;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 139, 0), rgba(255, 255, 255, 0.4431372549)) 1;
     border-image: linear-gradient(to bottom, rgba(0, 0, 139, 0), rgba(255, 255, 255, 0.4431372549)) 1;
}
main .work .project_description p {
  margin: 2rem 0;
}
main .work .project__image {
  aspect-ratio: 5/4;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.1);
}
main .work .left {
  order: 1;
}
main .work .right {
  order: 2;
}
main .quote h6 {
  font-family: "Satoshi Variable";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  width: 40ch;
  margin: 10rem auto;
  color: #D9E5E1;
}

.about-me {
  height: 100px;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 60px;
  overflow-x: hidden;
  border-top: 0.3px solid #fff;
  border-bottom: 0.3px solid #fff;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  -webkit-animation: marquee 32s linear infinite;
          animation: marquee 32s linear infinite;
}
.track h6 {
  font-size: 3.6rem;
  font-weight: 300;
}

@-webkit-keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 768px) {
  .blobs-1 {
    width: 1000px;
  }
  .blobs-2 {
    top: 1400px;
    right: 200px;
    width: 700px;
    opacity: 0.5;
  }
  .heading .orbit {
    transform: translateY(-50%);
    top: 0;
    right: 0;
  }
  main {
    width: 92%;
  }
  main .gap {
    height: 20rem;
  }
  main .intro {
    grid-template-columns: 1fr 1fr;
    gap: 0rem 0px;
  }
  main .intro .connect {
    width: 80%;
    max-width: 440px;
    order: 1;
  }
  main .intro .connect .socials {
    justify-content: flex-start;
    gap: 5rem;
  }
  main .intro .intro-text {
    order: 2;
  }
  main .work .art-1 {
    position: absolute;
    left: -900px;
    display: block;
  }
  main .work .art-2 {
    position: absolute;
    right: -800px;
    display: block;
  }
  main .work .work__intro {
    grid-template-columns: 1fr 1fr;
    gap: 0rem 0px;
  }
  main .work .work__intro .work__intro__text {
    flex-grow: 1;
  }
  main .work .work__intro .work__intro_title {
    width: 100%;
    max-width: 440px;
    flex-grow: 1;
  }
  main .work .project_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    align-items: center;
    margin-bottom: 0rem;
  }
  main .work .project_right .project_thumb {
    order: 2;
  }
  main .work .project_right .project__image {
    width: 100%;
    aspect-ratio: 3/4;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .work .project_right .project_description {
    max-width: 50ch;
    padding-left: 10px;
    border-width: 0px;
  }
  main .work .project_right .left {
    order: 1;
  }
  main .work .project_right .right {
    order: 2;
  }
}
@media screen and (min-width: 1024px) {
  main {
    width: 49%;
  }
  main .intro {
    flex-direction: row-reverse;
  }
}/*# sourceMappingURL=style.css.map */