@forward 'global';




// body {
//     background-color: #141414;
//     color: #fff;
// }

// Background

// Custom Classes

.fade-left {
    opacity: 0;
    transform: translateX(-10%);
    transition: all 1s cubic-bezier(0,.54,.32,1.01);
}

.fade-right {
    opacity: 0;
    transform: translateX(10%);
    transition: all 1s cubic-bezier(0,.54,.32,1.01);
}



.active {
    opacity: 1;
    transform: translateX(0%);
}


.flex-col{
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}



.blobs {
    position: absolute;
    z-index: -1;
    filter: blur(240px);
    mix-blend-mode:normal;
}

.blobs-1 {
    top: 0px;
    left: -200px;
    width: 600px;
}

.blobs-2 {
    top: 1200px;
    right: 400px;
    width: 500px;
}

.blobs-3 {
    top: 2400px;
    left: 100px;
    width: 500px;
}

.blobs-4 {
    top: 3200px;
    right: 400px;
    width: 500px;
}

.blobs-5 {
    top: 4400px;
    left: 400px;
    width: 500px;
}

.grain {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: .8;
    mix-blend-mode: multiply;
    z-index: 0;
}

.lines {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 0;
    // display: none;
}

.star-bg {
    position: absolute;
    z-index: 1;
}



// Background


.heading {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 96%;
    margin: 0 auto;
    position: relative;
    padding: 4rem 0rem ;
    opacity: 1;
   
    
    h1 {
        text-transform:uppercase;
        line-height: 100%;

    }

    .orbit {
        position: absolute;
        top: -120px;
        right: -450px;
        z-index: 2;
        
    }
}

main {

    .elements {
        opacity: 1;
    }

    width: 92%;
    margin: 5rem auto;

    //----------- INTRO SECTION ----------------
    .intro {
       display: grid;
        grid-template-rows: 1fr;
        gap: 4rem 0px ;


       p {
        margin-bottom: 2rem;
        
       }

       .intro-text {
        flex-grow: 1;
       }

       .connect {
        
        width: 100%;
        
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 3rem;
       }

       .socials {
        justify-content: space-between;

        .social-icon {
            width: 24px;
            opacity: 1;
            cursor: pointer;
            
        }  
       }
    }

 //----------- WORK SECTION ----------------

    .gap {
       height: 12rem; 
    }

    .work {
        position: relative;
        
        .art-1 {
            
            width: 100%;
            -webkit-animation: rotating 50s linear infinite;
            -moz-animation: rotating 50s linear infinite;
            -ms-animation: rotating 50s linear infinite;
            -o-animation: rotating 50s linear infinite;
            animation: rotating 50s linear infinite;

        }

        .art-2 {
            
            width: 100%;
            -webkit-animation: rotating 50s linear infinite;
            -moz-animation: rotating 50s linear infinite;
            -ms-animation: rotating 50s linear infinite;
            -o-animation: rotating 50s linear infinite;
            animation: rotating 50s linear infinite;

        }
            
            .work__intro {
                display: grid;
                grid-template-rows: 1fr;
                gap: 3rem 0px;
                

                .work__intro_title {
                    width: 100%;
                    flex-grow: 1;
                }

                .work__intro__text {

                    p {
                        margin-bottom: 2rem;
                    }
                }
            }

            .project_right {
                display: grid;
                grid-template-rows: 1fr;
                gap: 2rem 0px;
                grid-auto-flow: row;
                margin-bottom: 5rem ;
            }

            .project_description {
                padding: 1rem;
                width: 100%;
                border-width: 1px;
                border-style: solid;
                border-image: linear-gradient(to bottom, rgba(0, 0, 139, 0), #ffffff71) 1;
                p {
                    margin: 2rem 0;
                }
            }

        
            .project__image {
               

                aspect-ratio: 5/4;
                object-fit: cover;
                transform: scale(1.1);
            }

            .left {
                order: 1;
            }

            .right {
                order: 2;
            }
            
            .more-projects {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                float: right;

                .underline-btn {
                    display: inline-block;
                    padding: 1em 0;
                    border-radius: 0;
                    color: #b2876f;
                    margin-top:2rem;
                    font-weight: 700;
                    font-size: 1.6rem;
                    // letter-spacing: 2px;
                    text-transform: uppercase;
                    text-decoration: none;
                    position: relative;

                    background: linear-gradient(90deg, rgba(184, 43, 250, 0.96) -8.54%, rgba(92, 229, 72, 0.96) 90.45%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    -text-fill-color: transparent;


                    &:before,
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 0;

	                }

                    &:before{
                        transition: width 0s ease,background .4s ease;
                        left: 0;
                        right: 0;
                        bottom: 6px;
                    }

                    &:after{
                        right: 2.2%;
                        bottom: 6px;
                        transition: width .4s ease;
                    }

                    &:hover{
                        &:before{
                            width: 97.8%;
                            background: linear-gradient(90deg, rgba(184, 43, 250, 0.96) -8.54%, rgba(72, 184, 229, 0.96) 90.45%);
                            transition: width .4s ease;
                        }
                        &:after{
                            width: 97.8%;
                            background: 0 0;
                            transition: all 0s ease;
                        }
                    }
                    
                }
            }       
        }

        .quote {

            h6 {
                font-family: 'Satoshi Variable';
            font-style: italic;
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            width: 40ch;
            margin: 10rem auto;
            color: #D9E5E1;
            }
        }
            
}




@media screen and (min-width:768px) {

    .blobs-1 {
        width: 1000px;
    }

    .blobs-2 {
        top: 1400px;
        right: 200px;
        width: 700px;
        opacity: 0.8;
    }
   
    .heading {

        .orbit {
            // margin: 0 auto;
            transform: translateY(-50%);
            top: 0;
            right: 0;
        }
    }

   main { 
    width: 92%;
    .gap {
        height: 20rem; 
     }

    .intro {
        grid-template-columns: 1fr 1fr;
        gap: 0rem 0px ;
        
        .connect {
            width: 80%;
            max-width: 440px;
            order: 1;

            .socials {
                justify-content: flex-start;
                gap: 5rem;
            }
            
        }

        .intro-text {
            order: 2;
        }
        

    }

    .work {

        .art-1 {
            position: absolute;
            left: -900px;
        }

        .art-2 {
            position: absolute;
            right: -900px;
        }

        .work__intro {
            grid-template-columns: 1fr 1fr;
            gap: 0rem 0px;

            .work__intro__text{
                flex-grow: 1;
            }

            .work__intro_title {
                width: 100%;
                max-width: 440px;
                flex-grow: 1;
            }
        }

        .project_right {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0 0;
            grid-auto-flow: row;
            align-items: center;
            margin-bottom: 0rem ;

            .project_thumb {
                order: 2;
            }

            .project__image {
                aspect-ratio: 4/5;
                object-fit: cover;
            }

            .project_description {
                max-width: 50ch;
                padding-left: 10px;
                border-width: 0px;
            }

            .left {
                order: 1;
            }

            .right {
                order: 2;
            }

            
        }

    }

    
   }
    
}


@media screen and (min-width:1024px) {
   
    

    main {
     width: 49%;
 
     .intro {
         flex-direction: row-reverse;
     }
    }
     
 }