
$ff-family: 'Satoshi-Variable' ;

$ff-700 : 700;
$ff-400 : 400;
$ff-200 : 200;

$red: red;
$white:hsla(0, 0%, 100%, 1);
$textGrey: hsla(218, 12%, 87%, 1);


body::-webkit-scrollbar {
    width: 1rem;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(31, 31, 31);
    outline: 1px solid rgba(112, 128, 144, 0.534);
  }


body {
    background-color: #141414;
    color: $white;
    overflow-x: hidden;
    font-family: $ff-family ;
}


h1 {
    font-family: $ff-family;
    font-weight: $ff-400;
    font-size: 8rem;
}

h5 {
  font-family: 'Satoshi Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
/* identical to box height, or 22px */

text-transform: capitalize;
}

p{
  font-family: 'Satoshi Variable';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;


color: $textGrey;
}

span {
  color: white;
}

a {
  position: relative;
  z-index: 12;
  transition: all 0.3s ease-in-out;
}

a:hover {
  opacity: 0.8;
}